  <table class="table table-bordered table-striped", id="carttable">
    <thead>
        <tr>
            <th class="text-left"><%= "name" %></th>
            <th class="text-left"><%= "price" %></th>
            <th class="text-left"> <strong>quantity:</strong></th>
            <th class="text-left"> <strong>Update quantity:</strong></th>
            <th class="text-left"><strong>Delete:</strong></th>
          </tr>
      </thead>
      <tbody id="carttable">
      <% @order_items.each do |order_item| %>
        <tr>
            <td><%= order_item.product.name %></td>
            <td><%= order_item.product.price %></td>
            <%= form_for order_item, remote: true do |f| %>
            <td><%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %></td>
            <%= f.hidden_field :product_id, value: order_item.product.id %>
            <td><%= f.submit "Update Quantity", class: "btn btn-primary" %></td>
            <td><%= link_to "Delete", order_item,
              { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" },
              method: :delete, remote: true, class: "btn btn-danger" } %> </td>
        </tr>
          <% end %>
          <% end %>
      </tbody>
  </table>
