
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-left"><%= sort_link "name" %></th>
        <th class="text-left"><%= "price" %></th>
        <th class="text-left"><strong>photo:</strong></th>
      </tr>
    </thead>
      <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %> </td>
        <td> <%= product.price %>  </td>

          <% product.photos.each do |photo| %>
          <td><%= image_tag photo.image %> </td>
      </tr>

    <% end %>
  <% end %>
    </tbody>
  </table>
