<div class="productoverview">
<h1 class="page-title">Overview of products:</h1>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Order summary</strong></h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
            <tr>
              <td class="text-left"><strong>Product</strong></td>
              <td class="text-left"><strong>Price</strong></td>
              <td class="text-left"><strong>Quantity</strong></td>
              <td class="text-right"><strong>Total Price</strong></td>
            </tr>
            </thead>
            <tbody>
            <!-- foreach ($order->lineItems as $line) or some such thing here -->
            <% @order_items.each do |order_item| %>
                <tr>
                  <td class="text-left"><%="#{order_item.product.name}"%></td>
                  <td class="text-left"><%="#{order_item.unit_price}"%></td>
                  <td class="text-left"><%="#{order_item.quantity}"%></td>
                  <td class="text-right"><%="#{order_item.quantity * order_item.unit_price}"%></td>
                </tr>
            <% end %>
            <tr>
              <td class="thick-line"></td>
              <td class="thick-line"></td>
              <td class="thick-line text-left">Subtotal</td>
              <td class="thick-line text-right"><%="#{number_to_currency current_order.subtotal}" %>    </td>
            </tr>
            <tr>
              <td class="no-line"></td>
              <td class="no-line"></td>
              <td class="no-line text-left">Shipping</td>
              <td class="no-line text-right"><%="#{number_to_currency current_order.subtotal * 0.15 }" %></td>
            </tr>
            <tr>
              <td class="no-line"></td>
              <td class="no-line"></td>
              <td class="no-line text-left"><strong>Total</strong></td>
              <td class="no-line text-right"><%="#{number_to_currency current_order.subtotal * 1.15}" %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<BR>

<div class="paybutton">
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

<form action="/your-server-side-code" method="POST">
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_AWVRdlM1LHBiV2UOyLT0bFyA"
  data-amount="500"
  data-name="Australianproducts"
  data-description="2 widgets"
  data-image="http://res.cloudinary.com/sebastiaanpoppen/image/upload/v1479297450/flag-round-250_uodave.png"
  data-locale="auto"
  data-zip-code="true"
  data-currency="eur">
</script>
</form>
</div>

<% end %>
</div>
