<!DOCTYPE html>
<html>
  <head>
    <title>Australianstore</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= tag :meta, :name => "stripe-key", :content => ENV["pk_test_AWVRdlM1LHBiV2UOyLT0bFyA"] %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <br>
    <br>
    <br>
    <br>

    <br>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  <script>
    // A $( document ).ready() block.
    $(window).load(function() {
      $( ".trigger").click(function() {
        $(".highlight" ).toggle( "highlight");
      });
    });
  </script>


</body>
</html>
