<!DOCTYPE html>
<html>
  <head>
    <title>Australianstore</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= tag :meta, :name => "stripe-key", :content => ENV["pk_test_AWVRdlM1LHBiV2UOyLT0bFyA"] %>
    <meta property="og:image" content="http://res.cloudinary.com/sebastiaanpoppen/image/upload/v1480598385/Screen_Shot_2016-12-01_at_14.19.00_wphj72.png" />
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Montserrat:400,700", :media => "all" %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <br>

    <br>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  <script>
    // A $( document ).ready() block.
    $(window).load(function() {
      $( ".trigger").click(function() {
        $(".highlight" ).toggle( "highlight");
      });
    });
  </script>


</body>
</html>
